
body {
    background-image: url('https://cdn.discordapp.com/attachments/472882666941972488/1175359650720399370/Fondo.png?ex=656af1f9&is=65587cf9&hm=03e21ac6a1b7a70c3a6690b05b03235d696202bdbd1c496bae4f91420347eee5&');
    background-size: 50%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: rgba(255, 255, 255, 0.623);
    color: #1a0303;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logo-img {
    height: 50px;
}

nav {
    display: flex;
}

nav a {
    margin-right: 40px;
    text-decoration: none;
    color: #000000;
    padding-top: 10px;
    transition: 0.3s;
}

nav a:hover {
    font-size: 20px;
}

#logout {
    background-color: #ea00ff93;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

#logout:hover {
    background-color: #cc0000;
}

#productos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.219);
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 25%;
    box-sizing: border-box;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.producto h2 {
    font-size: 24px;
    margin: 10px 0;
}

.producto p {
    margin: 5px 0;
}
