body {
  background-image: url('https://cdn.discordapp.com/attachments/472882666941972488/1175359650720399370/Fondo.png?ex=656af1f9&is=65587cf9&hm=03e21ac6a1b7a70c3a6690b05b03235d696202bdbd1c496bae4f91420347eee5&');
  background-size: 50%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.623);
  color: #1a0303;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 50px;
}

nav {
  display: flex;
}

nav a {
  margin-right: 40px;
  text-decoration: none;
  color: #160505;
  padding-top: 10px;
  transition: 0.3s;
  
}

nav a:hover {
  font-size: 20px;
}

#logout {
  background-color: #ff000093;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

#logout:hover {
  background-color: #cc0000;
}

#MuestraProducto {
  display: flex;
  justify-content: space-around;
  overflow: hidden; /* Evita que las imágenes se salgan del contenedor */
  margin: 20px;
}

.oferta {
  width: 25%; /* Cada imagen ocupa el 25% del contenedor */
  height: auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 3px 36px 10px rgba(0,0,0,1);
}
h1{display: flex;
  background-color: rgba(255, 255, 255, 0.623);
  color: #1a0303;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;

}
div{
  background-color: rgba(255, 255, 255, 0.623);
  color: #1a0303;
  text-align: center;

}
